.searchBar {
  width: 20.82%;
  max-height: 235px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 5px;
  overflow: hidden;
  overflow-y: auto;
  color: #ffff;
  background-color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.searchBar a {
  text-decoration: none;
}
.searchBar p {
  padding: 2px 20px 2px 20px;
  cursor: pointer;
}
.searchBar p:hover {
  background-color: rgb(243, 222, 222);
  color: #fff;
  text-decoration: underline;
}

/* for mobile  ********************/

@media screen and (max-width: 480px) {
  .nav-container img {
    width: 115px;
  }
  .searchInputBox {
    display: none;
  }
}
